<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Booklet - jQuery Plugin</title>    
  <!--   <link href="/stylesheets/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" /> -->
    
    
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
   


</head>
<body ng-app ng-controller="userProfileController">
  <header>
    <h1>Booklet Example</h1>
  </header>
  
  
  <div>
   
   
   <%if(diary1.length>0){%>
    <%=diary1[0].tid%>
   <%}%>
   

   <%if(diary2.length>0){%>
    <%=diary2[0].id%>
   <%}%>

   <%if(diary3.length>0){%>
    <%=diary3[0].id%>
   <%}%>

  <!--  diary1
  <img src="/images/diary2/4.jpg">    
   

  
    disr2
  <img src="/images/diary2/4.jpg">    
  
  
  
  diary3
  <img src="/images/diary2/4.jpg">     -->
  
  
  
</div>

<script type="text/javascript">

function userProfileController($scope,$http,$location){

}
</script>

</body>
</html>