<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Moleskine Notebook with jQuery Booklet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Moleskine Notebook with jQuery Booklet" />
        <meta name="keywords" content="jquery, book, flip, pages, moleskine, booklet, plugin, css3 "/>
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
		<script src="/javascript/diary2/jquery.easing.1.3.js" type="text/javascript"></script>
		<script src="/javascript/diary2/jquery.booklet.1.1.0.min.js" type="text/javascript"></script>

		<link href="/javascript/diary2/jquery.booklet.1.1.0.css" type="text/css" rel="stylesheet" media="screen" />
		<link rel="stylesheet" href="/stylesheets/diary2/style.css" type="text/css" media="screen"/>

		<script src="/javascript/diary2/cufon-yui.js" type="text/javascript"></script>
		<script src="/javascript/diary2/ChunkFive_400.font.js" type="text/javascript"></script>
		<script src="/javascript/diary2/Note_this_400.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('h1,p,.b-counter');
			Cufon.replace('.book_wrapper a', {hover:true});
			Cufon.replace('.title', {textShadow: '1px 1px #C59471', fontFamily:'ChunkFive'});
			Cufon.replace('.reference a', {textShadow: '1px 1px #C59471', fontFamily:'ChunkFive'});
			Cufon.replace('.loading', {textShadow: '1px 1px #000', fontFamily:'ChunkFive'});


    function saveData(){

  var obj = {
    text1:document.getElementById('text1').value,
    text2:document.getElementById('text2').value,
    text3:document.getElementById('text3').value,
    text4:document.getElementById('text4').value,
    text5:document.getElementById('text5').value,
    text6:document.getElementById('text6').value,
    text7:document.getElementById('text7').value,
    text8:document.getElementById('text8').value,
    text9:document.getElementById('text9').value,
    text10:document.getElementById('text10').value,
    text11:document.getElementById('text11').value,
    text12:document.getElementById('text12').value,
    text13:document.getElementById('text13').value,
    text14:document.getElementById('text14').value,
    text15:document.getElementById('text15').value,
    text16:document.getElementById('text16').value,
    image1:document.getElementById('name').src,
    image2:document.getElementById('name1').src,
    image3:document.getElementById('name2').src,
    image4:document.getElementById('name3').src, 
    image5:document.getElementById('name4').src,
    image6:document.getElementById('name5').src,
    image7:document.getElementById('name6').src,
    image8:document.getElementById('name7').src


  };

    var xmlRequest;
    if(window.XMLHttpRequest){
      xmlRequest = new XMLHttpRequest();
    }else{
       xmlRequest=new ActiveXObject("Microsoft.XMLHTTP");
    }
      //alert("Next");
        xmlRequest.open('POST',"/saveDiary2",true);
        xmlRequest.setRequestHeader("Content-type","application/json;charset=UTF-8");
        xmlRequest.send(JSON.stringify(obj));
    
}
    
		</script>
    <style>
      .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-plus:before {
  content: "\2b";
  color: #333;
}

.ta10 {
	background-image:url(/images/diary2/txtAreabg.png);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	/*padding:3px;
	margin-right:4px;
	margin-bottom:8px;*/
	font-family:tahoma, arial, sans-serif;
}

textarea {
   resize: none;
   overflow:hidden;
}
input {font-weight:bold;}

    </style>
    </head>
    <body>
		<h1 class="title">Moleskine Notebook with jQuery Booklet</h1>
		<form method="post" onsubmit="return saveData();">
		<div class="book_wrapper">
			<a id="next_page_button"></a>
			<a id="prev_page_button"></a>
		<!-- 	<div id="loading" class="loading">Loading pages...</div> -->
			<div id="mybook" style="display:none;">
				<div class="b-load">
					
					<div>
             <section>
                            <input style="display:none;" id="i" name="fileupload" type="file"/> 
                            <span id="fc" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text" id="text1" style="background-image:url(/images/diary2/inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text2" style="background-image:url(/images/diary2/txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea>
					</div>
					
					<div>
             <section>
                            <input style="display:none;" id="i1" name="fileupload" type="file"/> 
                            <span id="fc1" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name1" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text" id="text3" style="background-image:url(/images/diary2/left_inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text4" style="background-image:url(/images/diary2/left_txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea>
					
					</div>
					<div>
					             <section>
                            <input style="display:none;" id="i2" name="fileupload" type="file"/> 
                            <span id="fc2" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name2" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text5" id="text5" style="background-image:url(/images/diary2/inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text6" style="background-image:url(/images/diary2/txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea>
					</div>
					<div>
						         <section>
                            <input style="display:none;" id="i3" name="fileupload" type="file"/> 
                            <span id="fc3" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name3" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text" id="text7" style="background-image:url(/images/diary2/left_inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text8" style="background-image:url(/images/diary2/left_txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea>
          </div>
					<div>
						             <section>
                            <input style="display:none;" id="i4" name="fileupload" type="file"/> 
                            <span id="fc4" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name4" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text" id="text9" style="background-image:url(/images/diary2/inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text10" style="background-image:url(/images/diary2/txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea>
					</div>
					<div>
						           <section>
                            <input style="display:none;" id="i5" name="fileupload" type="file"/> 
                            <span id="fc5" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name5" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text" id="text11" style="background-image:url(/images/diary2/left_inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text12" style="background-image:url(/images/diary2/left_txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea>
					</div>
					<div>
						             <section>
                            <input style="display:none;" id="i6" name="fileupload" type="file"/> 
                            <span id="fc6" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name6" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text" id="text13" style="background-image:url(/images/diary2/inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text14" style="background-image:url(/images/diary2/txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea></div>
					<div>
						             <section>
                            <input style="display:none;" id="i7" name="fileupload" type="file"/> 
                            <span id="fc7" class="glyphicon glyphicon-plus" style="margin-left: 90%;margin-top: 1%;position: absolute;"></span>
                            <img  id="name7" src="/images/diary2/insertImage.png" alt="" width="100%" height="40%" style="margin-left: 9%;position: absolute;margin-top: 2%;"/>
              </section>
                
														<input placeholder="place your heading here.." size= "35" type="text" id="text15" style="background-image:url(/images/diary2/left_inputBg.png);border:0px;position: absolute;margin-top: 61%;margin-left: 9%;"/>
            								<textarea placeholder="place you text here..." id="text16" style="background-image:url(/images/diary2/left_txtAreabg.png);border:0px;margin-top: 80%;margin-left: 10%;width: 317px;height: 146px;"></textarea>
					</div>
				
				
					
				
				
				</div>
			</div>
		</div>
        <div>
        	<input type="submit">
       </div>
</form>
        <!-- The JavaScript -->

        <script type="text/javascript">
 $('#fc').click(function () {
           $('#i').click();
      });

      $('#i').change(function () {
          $('#name').html(function(){
            return true;
        });
      });
           $('#i').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded(e) {          
            $('#name').attr('src', e.target.result);
        };

        //*********************
         $('#fc1').click(function () {
           $('#i1').click();
      });

      $('#i1').change(function () {
          $('#name1').html(function(){
            return true;
        });
      });
           $('#i1').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded1;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded1(e) {          
            $('#name1').attr('src', e.target.result);
        };

        //*********************
         $('#fc2').click(function () {
           $('#i2').click();
      });

      $('#i2').change(function () {
          $('#name2').html(function(){
            return true;
        });
      });
           $('#i2').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded2;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded2(e) {          
            $('#name2').attr('src', e.target.result);
        };
//*********************
         $('#fc3').click(function () {
           $('#i3').click();
      });

      $('#i3').change(function () {
          $('#name3').html(function(){
            return true;
        });
      });
           $('#i3').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded3;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded3(e) {          
            $('#name3').attr('src', e.target.result);
        };

        //*********************
         $('#fc4').click(function () {
           $('#i4').click();
      });

      $('#i4').change(function () {
          $('#name4').html(function(){
            return true;
        });
      });
           $('#i4').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded4;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded4(e) {          
            $('#name4').attr('src', e.target.result);
        };
//*********************
         $('#fc5').click(function () {
           $('#i5').click();
      });

      $('#i5').change(function () {
          $('#name5').html(function(){
            return true;
        });
      });
           $('#i5').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded5;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded5(e) {          
            $('#name5').attr('src', e.target.result);
        };
//*********************
         $('#fc6').click(function () {
           $('#i6').click();
      });

      $('#i6').change(function () {
          $('#name6').html(function(){
            return true;
        });
      });
           $('#i6').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded6;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded6(e) {          
            $('#name6').attr('src', e.target.result);
        };
        //*********************
         $('#fc7').click(function () {
           $('#i7').click();
      });

      $('#i7').change(function () {
          $('#name7').html(function(){
            return true;
        });
      });
           $('#i7').change(function () {
      
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded7;
                    reader.readAsDataURL(this.files[0]);
                }
            });
    function imageIsLoaded7(e) {          
            $('#name7').attr('src', e.target.result);
        };

			$(function() {
				var $mybook 		= $('#mybook');
				var $bttn_next		= $('#next_page_button');
				var $bttn_prev		= $('#prev_page_button');
				var $loading		= $('#loading');
				var $mybook_images	= $mybook.find('img');
				var cnt_images		= $mybook_images.length;
				var loaded			= 0;
				//preload all the images in the book,
				//and then call the booklet plugin

				$mybook_images.each(function(){
					var $img 	= $(this);
					var source	= $img.attr('src');
					$('<img/>').load(function(){
						++loaded;
						if(loaded == cnt_images){
							$loading.hide();
							$bttn_next.show();
							$bttn_prev.show();
							$mybook.show().booklet({
								name:               null,                            // name of the booklet to display in the document title bar
								width:              800,                             // container width
								height:             500,                             // container height
								speed:              600,                             // speed of the transition between pages
								direction:          'LTR',                           // direction of the overall content organization, default LTR, left to right, can be RTL for languages which read right to left
								startingPage:       0,                               // index of the first page to be displayed
								easing:             'easeInOutQuad',                 // easing method for complete transition
								easeIn:             'easeInQuad',                    // easing method for first half of transition
								easeOut:            'easeOutQuad',                   // easing method for second half of transition

								closed:             true,                           // start with the book "closed", will add empty pages to beginning and end of book
								closedFrontTitle:   null,                            // used with "closed", "menu" and "pageSelector", determines title of blank starting page
								closedFrontChapter: null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank starting page
								closedBackTitle:    null,                            // used with "closed", "menu" and "pageSelector", determines chapter name of blank ending page
								closedBackChapter:  null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank ending page
								covers:             false,                           // used with  "closed", makes first and last pages into covers, without page numbers (if enabled)

								pagePadding:        10,                              // padding for each page wrapper
								pageNumbers:        true,                            // display page numbers on each page

								hovers:             false,                            // enables preview pageturn hover animation, shows a small preview of previous or next page on hover
								overlays:           false,                            // enables navigation using a page sized overlay, when enabled links inside the content will not be clickable
								tabs:               false,                           // adds tabs along the top of the pages
								tabWidth:           60,                              // set the width of the tabs
								tabHeight:          20,                              // set the height of the tabs
								arrows:             false,                           // adds arrows overlayed over the book edges
								cursor:             'pointer',                       // cursor css setting for side bar areas

								hash:               false,                           // enables navigation using a hash string, ex: #/page/1 for page 1, will affect all booklets with 'hash' enabled
								keyboard:           true,                            // enables navigation with arrow keys (left: previous, right: next)
								next:               $bttn_next,          			// selector for element to use as click trigger for next page
								prev:               $bttn_prev,          			// selector for element to use as click trigger for previous page

								menu:               null,                            // selector for element to use as the menu area, required for 'pageSelector'
								pageSelector:       false,                           // enables navigation with a dropdown menu of pages, requires 'menu'
								chapterSelector:    false,                           // enables navigation with a dropdown menu of chapters, determined by the "rel" attribute, requires 'menu'

								shadows:            true,                            // display shadows on page animations
								shadowTopFwdWidth:  166,                             // shadow width for top forward anim
								shadowTopBackWidth: 166,                             // shadow width for top back anim
								shadowBtmWidth:     50,                              // shadow width for bottom shadow

								before:             function(){},                    // callback invoked before each page turn animation
								after:              function(){}                     // callback invoked after each page turn animation
							});
							Cufon.refresh();
						}
					}).attr('src',source);
				});
				
			});
        </script>
    </body>
</html>